# TradeTaper Backend Environment Configuration
# Copy this file to .env and update the values as needed

# Database Configuration
DB_HOST=localhost
DB_PORT=5435
DB_USERNAME=bennie
DB_PASSWORD=tradetaperpass
DB_DATABASE=tradetaper_dev

# Stripe Configuration (Your provided keys)
STRIPE_SECRET_KEY=sk_test_51HCsYUKCBJK5GhoVRw2fa2u59R2biPCde1MCP2IU8MSz92deeKHrD0FKAReXFeOpqWiN387NoeauU3pFCy3k18sS000AokIvgM
STRIPE_PUBLISHABLE_KEY=pk_test_51HCsYUKCBJK5GhoVW20cTDcwCJvPbGMSSU57Oo0Dfr1tVVmhXMmPJlqiFFaXW5qHjaXc7QcuIIlWzyqk8aHssZxh002dpfXexM
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here

# JWT Configuration
JWT_SECRET=your-super-secure-jwt-secret-here-make-it-long-and-random
JWT_EXPIRATION_TIME=24h

# Application Configuration
NODE_ENV=development
PORT=3000 

#TraderMade
TRADERMADE_API_KEY=tFFk3K-eP99J97Acr506

#GCP
GCS_BUCKET_NAME=tradetaper-bucket-images